In [ ]:
print('hi hello how r u')
print(100)

hi hello how r u
100

In [7]:
#변수 => 데이터를 저장(플래시 메모리) 하는 방식
#변수 이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True,False), 객체)
#변수에는 데이터를 저장하고 있는 메모리의 주소값(레퍼런스)을 저장
num=10

print(num)

10

In [10]:
print(id(num))

140704834536648

In [12]:
num+100

110

In [13]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1=10
num2=3.14

In [17]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [19]:
num3='hello'
print(num3)
print(type(num3))

hello
<class 'str'>

In [21]:
#논리값: True, False
check1=True
check2=False

print(check1)
print(check2)

True
False

In [23]:
print(type(check1), type(check2))

<class 'bool'> <class 'bool'>

In [ ]:
a='python'
a.upper()
# 주소값.메서드()

In [25]:
# 문자열 생성
#'',"",''' ''', """ """
a='hello'
b="hi"
c='''1st line
hi
nice to meet u
'''
d=""" 
selsect *
from emp
where empno=10
"""

In [26]:
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

hello <class 'str'>
hi <class 'str'>
1st line
hi
nice to meet u
 <class 'str'>

selsect *
from emp
where empno=10
 <class 'str'>

In [29]:
# 문자열의 연산 =>
# 사칙연산 X => +(연결), *(반복)

print('hello'+' world')
print('='*10)

hello world
==========

In [33]:
# 함수: 데이터 전달시 처리(연산) => 값 반환]
# 문자열의 길이 반환 함수 : len(변수: 시퀀스 데이터)
a='100'
print(len(a))

3

In [ ]:
# 문자열: 시퀀스 데이터 =>  순서 존재
# 시퀀스 데이터들의 구분은 index 값으로 한다.
# hello => ['h', 'e', 'l', 'l', 'o']
# index =>   0 ,  1 ,  2 ,  3 ,  4   => 0 ~ n-1

# 문자열의 슬라이싱
# s[시작 index : 종료 index] => 종료 index 값 비포함함 추출
a= 'hello~ python!!'
print(a[0:6])

hello~

In [39]:
# 문자열 포맷팅
# 파이썬 3.6 이후 접두사 f 붙이거 포매팅 ex) f''

user_name ='sonny'
user_age = 30
print(f'hi I am world class {user_name}, {user_age} years old')

hi I am world class sonny, 30 years old

In [40]:
print(f'내년에는 {user_age+1}세... 은퇴해야죠')

내년에는 31세... 은퇴해야죠

In [43]:
# 복합 연산자
num=1
num += 1 #num=num+1
print(num)

2

### 연습문제1
과목별 점수, 총점, 평균 출력

과목: 국어, 영어, 수학

In [51]:
kor_score=80
eng_score=90
math_score=85

sum=kor_score+eng_score+math_score
avg=sum/3

print(f'''성적은 다음과 같습니다. 
      국어: {kor_score}, 영어: {eng_score}, 수학: {math_score}
      총점: {sum}, 평균: {avg}
''')

성적은 다음과 같습니다.
      국어: 80, 영어: 90, 수학: 85
      총점: 255, 평균: 85.0

### 연습문제 2
성별이 남성이고,성인(18세 이상)인 대상 판별

In [54]:
gender='M' #성별 M, F
age=20

check = gender=='M' and age>=18

print('성인 남성 체크: ', check)

성인 남성 체크:  True

In [1]:
# list: [] => 순서를 가지는 가변성 데이터 묶음
# index 값으로 요소 참조 

list_a=[1,2,3]
# index 0,1,2
# 요소의 갯수: 3개

print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [2]:
# 요소 참조
print(list_a[0], list_a[1])

list_a[2]=4

print(list_a)

1 2
[1, 2, 4]

In [3]:
print(list_a[0] + list_a[1])

3

In [ ]:
list_a[-2]

list_a[len(list_a)-1] #마지막 index 찾기기

4

In [7]:
list_b = [1,2,3,['a','b','c']]
print(list_b[3][1])

b

In [11]:
list_c=[1,2,3,4,5]

list_c[1:4]
list_c[:4]
list_c[1:]
list_c[:] #list_c

[1, 2, 3, 4, 5]

In [14]:
#list의 연산: +, *
list_d = [100,200,300]
list_c+list_d #새로운 리스트
list_d+list_c #새로운 리스트트

[100, 200, 300, 1, 2, 3, 4, 5]

In [16]:
# *:리스트의 요소를 n번 반복하여 새로운 리스트 생성
list_d*3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [19]:
#리스트에 요소(데이터) 추가: 순서 => 마지막 인덱스 다음에 추가
#append(): 리스트의 마지막에 데이터를 추가하는 메서드
#객체안에 있는 함수는 method라고 부른다.

list_a =[1,2,3]

list_a.append(100)


#pop(): 입력한 인덱스의 요소 축출. 기본값 -1 (마지막 요소) => 삭제 및 반환
list_a.pop(0)

print(list_a)

[2, 3, 100]

In [ ]:
list_a=[1,4,9,2,10]

list_a.sort()#오름차순 정렬

list_a.reverse()#역정렬렬

print(list_a)

[10, 9, 4, 2, 1]

In [23]:
list_a.index(1) #인덱스 값 확인
list_a.insert(1,100) #n 인덱스 좌측에 값 삽입

In [ ]:
list_a.extend(list_d)

#덧셈과 비슷해 보이지만, extend() 메서드는 list_a의 값 자체를 가공


print(list_a)

[10, 100, 9, 4, 2, 1, 100, 200, 300, 100, 200, 300, 100, 200, 300]

In [33]:
#tuple : list와 동일하나, 데이터 수정 불가능 (데이터 유지)
t1=()
print(type(t1))

t2=(1,2,3,4)
t3=10,20,30,40


print(t2[1:3])

<class 'tuple'>
(2, 3)

In [34]:
dict2 = {1: 'a'}
print(dict2)
print(type(dict2))

{1: 'a'}
<class 'dict'>

In [39]:
#dict 요소값 추가 => key와 요소값을 추가

dict2[2] = 'b'
dict2[3] = (1,2,3)

print(dict2)

del dict2[3]

print(dict2)

{1: 'a', 2: 'b', 3: (1, 2, 3)}
{1: 'a', 2: 'b'}

In [42]:
# 학생: 학번, 이름, 학년, 학과

dict_student = {}

student1={
    's_no' : 1111,
    's_name': 'king',
    'grade': 4,
    'major': 'IT'
}

dict_student[0]=student1


student2={
    's_no' : 2222,
    's_name': 'queen',
    'grade': 3,
    'major': 'BA'
}

dict_student[1]=student2

print(dict_student)

{0: {'s_no': 1111, 's_name': 'king', 'grade': 4, 'major': 'IT'}, 1: {'s_no': 2222, 's_name': 'queen', 'grade': 3, 'major': 'BA'}}

In [ ]:
player = {
'team': 'TO',
'name':'Son',
'number':3
}

list(player.keys())

'name' in player

'age' in player

True

In [47]:
player.get('name')

'Son'

In [49]:
player.get('pos')
#부른 값이 없더라도 에러를 생성하지 않는다.

pos=player.get('pos')
#이 식으로 빈 값을 확인하면 None이 할당 되는 것을 알 수 있다.

In [ ]:
pos1=player.get('pos', 'no pos')

#값이 없을 때 기본값으로 no pos 같이 원하는 것을 할당 가능능

print(pos1)

no pos

In [52]:
#set : 집합 => 중복x 순서x 집합 연산 사용
s1 = set([1,2,3,4,1,2,5])
s2= set('hello')

list1=list(s1)

print(list1)

[1, 2, 3, 4, 5]

In [62]:
set2=set([1,2,3,4,5,6])
set3=set([4,5,6,7,8,9])

print(set2&set3)
#교집합

print(set2|set3)
#합집합

print(set2-set3)
#차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [65]:
#set에서 데이터 추가 (중복x) 삭제

set2.add(7)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
set2.remove(7)


print(set2)

set2.update([1,1,3,4,7,8])

print(set2)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
#if
age=20

if age>=18:
    print('welcome')
    print('lets start the game')
else:
    print('bye A minor')

welcome
lets start the game

In [81]:
#홀짝 판단
num=10

if num%2==0:
    print('even number')
else:
    print('odd number')

even number

In [86]:
#음수 양수 판단
num1=20

if num1>0:
    print('positive number')
elif num1<0:
    print('negative number')
else:
    print('0')

positive number

In [88]:
#운전면허 시험
score=79
check_msg='PASS' if score>=80 else 'Fale'

print(check_msg)

Fale

In [ ]:
check_msg = 'PASS'

if score <80:
    check_msg='FAIL'

print(check_msg)

Fail

In [ ]:
# 표준 출력 함수 print()
# 표준 입력 함수 input()

usrName=input('Name:')

print(usrName, type(usrName))

SON <class 'str'>

In [96]:
age=input('age:')


print(age, type(age), 2025-int(age))

2000 <class 'str'> 25

In [98]:
age=input('age: ')

age=int(age)
vac_msg='can get the vaccine.' if age<15 or age>65 else 'can not'


print(vac_msg)

can not

In [103]:
#반복문: while condition (True/False):
#조건식을 통해서 반복 -> 탈출이 가능해야한다.

count=0
while count<5:
    count+=1
    print(count)

1
2
3
4
5

In [107]:
#1~10 까지 홀수만 출력
cnt=0
while cnt<10:
    cnt+=1

    if cnt%2==1:
        print(cnt)


cnt=0
while cnt<10:
    cnt+=1

    if cnt%2==0:
        continue

    print(cnt)

1
3
5
7
9
1
3
5
7
9

In [109]:
list_a=[1,2,3,4,5,100,200,300]

for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [112]:
list_b = [(1,2),(3,4),(5,6)]

for n1, n2 in list_b:
    print(n1,n2)

1 2
3 4
5 6

In [117]:
# 5명의 학생이 영어시험=> 60점 이상 pass
# average and sum of 5 students

scores = [80, 50,70, 100, 55]

num=0 # student number
sum=0


for score in scores:

    num+=1
    sum=sum+score
    

    if score >=60:
        print(num, score,'PASS')
    else:
        print(num, score,'FAIL')



print('총점: ', sum)
print('평균: ', sum/len(scores))

1 80 PASS
2 50 FAIL
3 70 PASS
4 100 PASS
5 55 FAIL
총점:  355
평균:  71.0

In [121]:
#range 함수: 일련번호 생성

nums_1=range(10)

print(nums_1)

for num in nums_1:
    print(num, end=',')
    print(type(num))

range(0, 10)
0,<class 'int'>
1,<class 'int'>
2,<class 'int'>
3,<class 'int'>
4,<class 'int'>
5,<class 'int'>
6,<class 'int'>
7,<class 'int'>
8,<class 'int'>
9,<class 'int'>

In [123]:
for num in range(3,8):
    print(num, end=' ')

3 4 5 6 7

In [125]:

num=[]
for num in range (1,11,2):
    print(num, end='')

13579

In [132]:
#구구단

for dan in range(2,10):
    print(f'{dan}단')
    for i in range(1,10):
        print(f'{dan}x{i}={dan*i}', end=' ')
    print()

2단
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3단
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4단
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5단
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6단
6x1=6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7단
7x1=7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8단
8x1=8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9단
9x1=9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81

In [137]:
#리스트의 컴프리헨션
#[표현신 for 변수 in list if 조건식(변수)]

list_2 = [1,2,3,4]

# 결과 리스트
list_result= []
for num in list_2:
    list_result.append(num*3)

print(list_result)

[3, 6, 9, 12]

In [136]:
list_result_2=[num*3 for num in list_2 if num%2==1]
print(list_result_2)

[3, 9]

In [140]:
#1부터 100까지 합
sum=0
for i in range(1,101):
    sum+=i

print(sum)

5050

In [142]:
# for loop로 1 부터 10까지 곱한 결과 출력
num=1
for i in range(1,11):
    num*=i

print(num)

3628800

In [5]:
#구구단의 짝수 단만 출력하는 프로그램
#단 2단은 2x2, 4단은 4x4...
for i in range(2,9,2):
    print(f'{i}단')
    for i2 in range(1,i+1):
        print(f'{i}x{i2}={i*i2}')
print()

2단
2x1=2
2x2=4
4단
4x1=4
4x2=8
4x3=12
4x4=16
6단
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
8단
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64

In [ ]:
# while무한 루프로 구성하여 나오는 예제
# 1부터 시작해서 모든 짝수와 3의 배수를 더해서 그 합이 언제제 1000을 넘어서는지.
# 그리고 1000이 넘어선 값은 얼마인지

sum=0
num=0
while sum<=1000:
    num+=1
    if num%2==0 or num%3==0:
        sum = sum+num
    
print(f'1 부터 {num}까지의 짝수와 3의 배수를 더했을 때, {sum}이 되며 1000을 넘는다.')


#무한 루프가 아니긴 하네,, While True: break로 컨트롤

1 부터 56까지의 짝수와 3의 배수를 더했을 때, 1055이 되며 1000을 넘는다.

In [ ]:
cnt=1
sum=0
loop_count=0

while sum<1000:
    cnt+=1
    loop_count+=1
    if cnt%2==0 or cnt%3==0:
        sum=sum+cnt


print(f'실행 횟수: {loop_count}번, 결과{sum}')

실핼 횟수: 55번, 결과1055